/*parametros para la imagen */
img {
    display: block;       
    margin: 0 auto;        
    width: 300px;          
    height: 300px;        
    object-fit: cover;    
}
body{
    background-color: rgb(247, 178, 74);
}
nav{
    text-align: center;
    font-family: 'Pacifico',cursive;
    }

h1{

    text-align: center;
    font-family: 'Pacifico',cursive;
}
h2{
    text-align: center;
    font-family: 'Pacifico','Times New Roman', Times, serif;
}
h3{
    text-align: center;
    font-family: 'Pacifico','Times New Roman', Times, serif;
}
p{
    text-align: center;
    font-family: 'Pacifico','Times New Roman', Times, serif;
}
th, td{
    padding: 10px;
}
table,th,td{

    border: 1px solid orangered;
    border-collapse: collapse;
}
table{
    margin: 0 auto;
} 
